<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" >
    <meta http-equiv="Content-Language" content="en-us" >

    <title>Create new paste!</title>

    <meta name="ROBOTS" content="ALL" >
    <meta http-equiv="imagetoolbar" content="no" >
    <meta name="MSSmartTagsPreventParsing" content="true" >
    <meta name="Keywords" content="paste, bin, pastebin, nopaste" >
    <meta name="Description" content="A pastebin" >

</head>

<body id="newpaste">
<div>
    <form action="/up" method="post">
        <textarea rows="20" cols="60" name="code"></textarea>
        <br><input type="submit">
    </form>
</div>
</body>
</html>
